/* start global classes */
*{
    margin: 0;
}
:root{
    --top-p: 15px;
    --bottom-p: 15px;
    --main-color: rgb(255, 255, 255);
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media(min-width:768px){
    .container{
        width: 750px;
    }
    header{
        width: 750px;
    }
}
@media(min-width:992px){
    .container{
        width: 970px;
    }
    header{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
    header{
        width: 1170px;
    }
}

/* end of global classes  */
/* start landing header  */
.landing{
    background-image: url(/headphones/images/headphones_hero_1.jpg);
    background-size: cover;
    height: 100vh;
    padding-top: var(--top-p);
    padding-bottom: var(--bottom-p);
    
}
header{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.landing header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    
}
.landing header nav ul li{
    list-style: none;
    
}
.landing header nav ul li a{
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.08px;
    text-align: left;
    color: var(--main-color);
    text-decoration: none;
}
.landing header nav ul li a:hover{
    color: #FF6565;
}
.landing header .logo{
    /* width: 114.12px;
    height: 12.06px;
     */
}

/* end of header  */
/* start intro section  */
.landing .container .hero-piece{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
}
.landing .container .hero-piece .heading{
    font-family: Source Sans Pro;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.22px;
    padding-top: 350px;

    color: var(--main-color);
}
.landing .container .hero-piece .sub-heading{
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    color: var(--main-color);
    padding: 5px;
   

}
.landing .container .hero-piece button{
    width: 162px;
    height: 44px;
    box-shadow: 10px 10px 40px 7px  rgb(0, 0, 0);
    background-color:#FF6565;
    border-radius: 25px   ;
    -webkit-border-radius: 25px   ;
    -moz-border-radius: 25px   ;
    -ms-border-radius: 25px   ;
    -o-border-radius: 25px   ;
    color: var(--main-color);
    margin-top: 20px;
    margin-bottom: 70px;

}
.landing .container .hero-piece button:hover{
    opacity: 0.9
}
.landing .container .hero-piece .description{
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--main-color);
    width: 637px;
    
}
/* End of INTRO  */
