body{
    display: flex;
    flex-direction: column;

}
main{
    display: flex;
    flex-direction: row;
    flex: auto;

}
article{
    flex:2 ;
    overflow-y : auto;
}
aside{
    flex:1;
    overflow-y: auto;
}
.works_on_smartphone {
    font-size: 16px; /* Set a base font size */
}

@media (max-width: 600px) {
    .works_on_smartphone {
        font-size: 14px; /* Adjust font size for smaller screens */
        padding: 10px;   /* Change padding for better spacing */
    }
}